/***** FONTS *****/

@font-face {
    font-family: assistant;
    src: url(../../resources/fonts/Assistant-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: assistant;
    src: url(../../resources/fonts/Assistant-SemiBold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: assistant;
    src: url(../../resources/fonts/Assistant-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: greatvibes;
    src: url(../../resources/fonts/GreatVibes-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: montserrat;
    src: url(../../resources/fonts/Montserrat-Black.ttf);
    font-weight: bolder;
}